version: "3"
services:
  events-frontend:
    build: ./app
    user: "node"
    command: npm run dev -- --host
    volumes:
      - ./app:/usr/src/app
    ports:
      - "8003:8080"
  events-backend:
    build: ./backend
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    volumes:
      - ./backend/:/usr/backend/app/
    ports:
      - 8002:8000
    environment:
      - ENVIRONMENT=dev
      - TESTING=0
      - DATABASE_URL=postgres://postgres:postgres@events-db:5432/events_dev
      - DATABASE_TEST_URL=postgres://postgres:postgres@events-db:5432/events_test
      - SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
      - ALGORITHM = "HS256"
      - ACCESS_TOKEN_EXPIRE_MINUTES = 30
    depends_on:
      - events-db
  events-db:
    build:
      context: ./db
      dockerfile: Dockerfile
    expose:
      - 5432
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres

volumes:
  postgres_data:
